<div>
    <a [routerLink]="['/']">
        <button class="btn btn-outline-dark" style="width: fit-content;">« Back to Asset List</button>
    </a>

    <div class="container">
        <div *ngIf="assetDetails?.assetTagId == null">
            <h2>Loading asset...</h2>
            <mat-spinner class="center"></mat-spinner>
        </div>

        <div *ngIf="assetDetails?.assetTagId != null">
            <form>

                <h2>Asset Details</h2>
                <p>Assigned to: <a [routerLink]="['/']"
                        [queryParams]="{employeeId: assetDetails.assignedTo}">{{assetDetails.assignedTo}}</a></p>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Tag ID</mat-label>
                            <!-- TODO: Consider using one-way bindings since these fields are read-only -->
                            <input matInput name="TagID" class="form-field" [(ngModel)]="assetDetails.assetTagId"
                                [readonly]="true" placeholder="Tag ID">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Asset Type</mat-label>
                            <input matInput name="AssetType" class="form-field" [(ngModel)]="assetDetails.assetType"
                                [readonly]="true" placeholder="Asset Type">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Date Added</mat-label>
                            <!-- TODO: Consider using the date pipe to format the date into a more human-friendy format (mm/dd/yyyy hh:mm:ss) -->
                            <input matInput name="DateAdded" class="form-field" [(ngModel)]="assetDetails.dateAdded"
                                [readonly]="true" placeholder="Date Added">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Assigned To</mat-label>
                            <input matInput name="AssignedTo" class="form-field" [(ngModel)]="assetDetails.assignedTo"
                                placeholder="Assigned To">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput name="Description" class="form-field" required
                                [(ngModel)]="assetDetails.description" placeholder="Description"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Retired</mat-label>
                            <input matInput name="Retired" class="form-field" [readonly]="true"
                                [(ngModel)]="assetDetails.retired" placeholder="Retired">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Date Retired</mat-label>
                            <input matInput name="DateRetired" class="form-field" [readonly]="true"
                                [(ngModel)]='assetDetails.dateRetired' placeholder="Date Retired">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-around">
                    <button *ngIf="!assetDetails.retired" class="btn btn-secondary" (click)="retireAsset()"
                        title="Note: Clicking this button will retire the asset, and save any changes made">Retire
                        Asset and Save</button>
                    <button *ngIf="assetDetails.retired" class="btn btn-secondary" (click)="unretireAsset()"
                        title="Note: Clicking this button will un-retire the asset, and save any changes made">Un-Retire
                        Asset and Save</button>
                    <button class="btn btn-primary" (click)="updateAsset()">Save Changes</button>
                </div>

            </form>
        </div>
    </div>
</div>